<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />

<title>Insert title here</title>
</h:head>
<h:body>
 <h1 class="text-primary">Lembretes</h1>
	<h:form>
		<table>
			<tr>
				<td><h:outputText id="labelLembrete" value="Lembrete:" /></td>
				<td><h:inputTextarea id="textLembrete"
						value="#{lembreteController.lembrete.descricao}" /></td>
			</tr>
			
			<tr>
				<td colspan="4"><h:commandButton id="submit" type="submit" class="btn btn-primary"
						action="#{lembreteController.inserirLembrete}" value="Salvar" disabled="#{!lembreteController.salvar}" />
						<h:commandButton id="alterar" type="submit" class="btn btn-warning"
						action="#{lembreteController.alterarLembrete}" value="Alterar" disabled="#{lembreteController.salvar}"  />
				</td>
			</tr>
		</table>

	</h:form>

	<h:dataTable value="#{lembreteController.lembretes}" var="_lembrete" 
		border="1">

		<h:column>
			<f:facet name="header">ID</f:facet>
                      #{_lembrete.id}
          </h:column>
		<h:column>
			<f:facet name="header">Descrição</f:facet>
                      #{_lembrete.descricao}
          </h:column>


		<h:column>
			<f:facet name="header">
			</f:facet>
			<h:form>
				<h:commandLink action="#{lembreteController.removerLembrete(_lembrete)}"
					value="Excluir" />
			</h:form>
		</h:column>
		<h:column>
			<f:facet name="header">
			</f:facet>
			<h:form>
				<h:commandLink action="#{lembreteController.alterarAction(_lembrete)}"
					value="Alterar" />
			</h:form>
		</h:column>

	</h:dataTable>
</h:body>
</html>